exec.md

# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Images
*.jpg
*.jpeg
*.png
*.gif
*.webp
*.svg
*.ico
*.avif

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
